.divStore {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.div {
        width: 500px;
    height: 200px;
    background-color: rgb(116, 197, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    margin-top: 100px;
    border: 7px rgb(0, 0, 0) double;
}
.div2 {
        width: 500px;
    height: 200px;
    background-color: rgb(116, 197, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    margin-top: 100px;
    border: 7px rgb(0, 0, 0) double;
}

/* .counter {
    color: #fdfdfd;
    background-color: rgb(245, 10, 10);
    justify-content: center;
    text-align: center;
    border: 1px white solid;
}
.onClickAdd {
    display: flex;
    color: #fdfdfd;
    background-color: black;
    justify-content: center;
    border: 1px white solid;
}
.onClickReset {
    display: flex;
    color: #fdfdfd;
    background-color: black;
    justify-content: center;
    border: 1px white solid;
}
.error {
    color: green;
} */ 
