.div {
    width: 700px;
    height: 200px;
    background-color: rgb(116, 197, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    flex-direction: column;
    flex-wrap: wrap;
}
.counter {
    color: #fdfdfd;
    background-color: rgb(245, 10, 10);
    justify-content: center;
    text-align: center;
    border: 1px white solid;
}
.onClickAdd {
    display: flex;
    color: #fdfdfd;
    background-color: black;
    justify-content: center;
    border: 1px white solid;
}
.onClickReset {
    display: flex;
    color: #fdfdfd;
    background-color: black;
    justify-content: center;
    border: 1px white solid;
}
.Active {
    color: red;
}
