.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.but {
    display: flex;
    justify-content: center;
   
    height: 50px;
    align-items: center;
    border: 7px rgb(0, 0, 0) double;
   
}
.input {
    margin: 5px;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 100px;
}
.set {
    display: flex;
    color: rgb(7, 250, 238);
    justify-content: center;
    border: 1px white solid;
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 30px;
    width: 70px;

}
.inputError {
    background-color: crimson;
}
.value {
    display: flex;
    color: rgb(7, 250, 238);
    justify-content: center;
    border: 1px white solid;
    background-color: rgb(0, 0, 0);
    flex-direction: column-reverse;
    width: 300px;
    height: 100px;
}
.disabled {
    color: rgb(7, 250, 238);;
    opacity: 0.5;

}